ol,ul {
    list-style: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

a {
    text-decoration: none;
}

/* header */

.header {
    width: 100%;
    padding: 40px 0;
    background-color: #0A22F4;
    
}


.logo-h{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 400px;
}


.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.bar a{
    font-family: helvetica;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}
.bar{
    transition: all;
    transition-delay: 0ms;
    transition-duration:0;
    transition-timing-function: linear;
}
.bar:hover{
    
    border-bottom: 1px solid #FFFFFF;
}


button{
    width: 160px;
    height: 55px;
    border-radius:28px;
    margin-top: -35px;
    border: none;
    color: #171717;
    font-weight: bold;
    font-size: 16px;
}

/* sections */

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 150px;
}

.headsection {
    display: flex;
    justify-content: space-between;
}

.head-title {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}

/* dots */

.dots{
    display: flex;
    width: 80px;
    align-items: center;
    gap: 10px;
}

p {
    padding-top: 15px;

}

.ds{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
}


.dots-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-top:60px ;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    max-height: 235px;
    height: 100%;
}

.boxclass{
    width: 70px;
    height: 70px;
    background-color: gainsboro;
}

.boxclass2{
    width: 70px;
    height: 70px;
    background-color: blue;
}


.box-h{
    padding-top: 40px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

}
